{% load staticfiles %}
{% load createQuizAddons %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'createQuiz/UXsheet.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'createQuiz/displayResults.css' %}" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Quiz Master</title>
</head>

<body>

	<div class="mainMenu">
	
		<div class="title"><h1>Quiz Master!</h1></div>
		
	</div>

	<div class="container">
		<h2>{{quiz.name}}</h2>
		<p> You got {{pointsEarned}} out of {{pointsTotal}} points, {{percentageCorrect}}.</p>
		<form action="/create/gradeQuiz/{{quiz.id}}" method="post">
		{% csrf_token %}
		{% for question, answer in questionAnswers %}
	    	<div class='questionBox' name='questionBox{{ forloop.counter }}' id='questionBox{{ forloop.counter }}'>
				<div class='row'>
					<span class='left'>Question {{ forloop.counter }}</span>
				</div>
				
				<div class="displayAnswer">{{ question.text }}</div>
				
				<div class='answers' id='answers{{ forloop.counter }}'>
				
				{% for choice in question.choice_set.all %}
					<span {% if choice.is_correct %}class = "correctAnswer"{% elif answer == choice.answer %} class="incorrectAnswer" {% else %} class="answer" {% endif %}>{{ forloop.counter|numtoupper }}: {{ choice.answer}}</span>
				{% endfor %}
				</div>
			</div>
			
		{% endfor %}
		
		<div class="buttonBar" style="text-align:center;">
			<input type="submit" value="Submit Quiz" id="finishButton">
		</div>
		</form>
	
	{{ quizForm.as_p }}
	
	</div>

</body>

</html>