<div class="mainMenu">
	
	<div class="title">
	
		<h1>Quiz Master!</h1>
		
		<div class="loginBar">
			{% if user.is_authenticated %}
			<a href="/create/profile/">profile</a> <a href="/create/logout/">logout</a>
			{% else %}
			<a href='/create/login/'>Login</a> <a href='/create/register/'>Signup</a>
			{% endif %}
		</div>
	
	</div>
	
<!-- 	<div class="loginBar"> -->
<!-- 		{% if user.isAuthenticated %} -->
<!-- 		<a href="/create/logout/">logout</a> -->
<!-- 		{ % else % } -->
<!-- 		<a href='/create/login/'>Login</a> <a href='/create/register/'>Signup</a> -->
<!-- 		{% endif %} -->
<!-- 	</div> -->
		
</div>